{% extends '../base.html' %}

{% block title %}{{ _('My Profile') }}{% end %}

{% block body %}

{% if user == current_user %}
<div class="buttons">
    <a class="button nArt" href="/article/new"><span><span>{{ _('New Article') }}</span></span></a>
    {% if user.type == 'agent' or user.type == 'sponsor' %} 
    <a class="button nAct" href="/project/new"><span><span>{{ _('New Project') }}</span></span></a>
    <a class="button nPost" href="/post/new"><span><span>{{ _('New Blog Post') }}</span></span></a>
    {% end %}
    {% if user.is_admin %} 
    <a class="button nPag" href="/page/new"><span><span>{{ _('New Page') }}</span></span></a>
    {% end %}
    <a class="button nPro" href="/profile/edit"><span><span>{{ _('Edit Profile') }}</span></span></a>
    <a class="button nPref" href="/preferences"><span><span>{{ _('Preferences') }}</span></span></a>
</div>
{% end %}
        
{% block tabContent %}{% end %}

{% end %}

