{% extends '_dashboard.html' %}

{% block title %}{{_('Edit Profile')}}{% end %}

{% block tabContent %}

{{ f.rendernote(f.note) }}

{{ modules.Tabs(user, 'edit_profile', 'profile', fullname=get(user.fullname, user.username), username=user.username) }}

{% include "../modules/profile-edit.html" %}

{% end %}

{% block inlinejs %}
<script type="text/javascript" src="{{static_url('lib/markitup/markitup.markdown.js')}}"></script>
<link href="{{static_url('lib/markitup/markitup.markdown.css')}}" media="screen" rel="stylesheet" type="text/css" >
<script type="text/javascript" src="{{ static_url('lib/ajaxupload.min.js') }}"></script>
{% end %}

{% block postinlinejs %}
<script type="text/javascript" src="{{ static_url('lib/profile.js') }}"></script>
<script type="text/javascript" src="{{ static_url('lib/upload.js') }}"></script>
{% end %}




