{% extends '_dashboard.html' %}

{% block title %} {{ get(user.fullname, user.username) }} -  {{_('Profile')}}{% end %}

{% block tabContent %}

{{ modules.Tabs(user, 'profile', 'wall', fullname=get(user.fullname, user.username), username=user.username) }}

{% import math %}
<div class="line">
    <div class="unit size3of4">
    {% set objects = pagination.get_objects() %}
    {% if objects.count() %}
        <div class="line">
        {% set i = 0 %}
        {% for cols in list(h.group(objects,int(math.ceil(float(objects.count())/2)))) %}
          {% set i+= 1 %}
          <div class="{{ 'unit' if i==1 else 'lastUnit'}} size1of2">
            {% for item in cols %}
              {{ modules.ItemComment(item) }}
            {% end %}
          </div>
        {% end %}
        </div>
    {% else %}
        <p>&nbsp;</p>
    {% end %}
    <p class="small grey">Complete user streams here...</p>
    </div>
    <div class="lastUnit size1of4">
        {{ modules.CommentBox(user) }}
    </div>
</div> 

{% if current_user %}
<script type="text/javascript">
    $('.fComment input').click(function(e) {
        $this = $(this); $this.hide();
        $cmb = $('.cmb', $(this).parent());
        var i = this;
        var t = $cmb.show().find('textarea').focus().get(0);
        var b = $cmb.find('button').get(0);
        var c = $cmb.get(0);
        $('body').click(function(event) {
            e = event.target;
            if (e != b && e != t && e!=i) {
                $(c).hide(); $(i).show();
            }});
    });
    
</script>
{% end %}

<style>
.cReplies { font-size: 12px; }
.fComment input { color: #999; }
</style>

{% end %}

{% block inlinejs %}
<script type="text/javascript" src="{{ static_url('jquery.tools.min.js') }}"></script>
{% end %}
