{% extends '_dashboard.html' %}

{% block tabContent %}

{{ modules.Tabs('dashboard_agent', 'dashboard') }}

<div class="line">
    <div class="unit size2of3">
        {{ modules.ProfileStreams(current_user) }}
    </div>
    
    <div class="lastUnit size1of3">
        <div class="mod simple">
            <div class="inner">
                <div class="hd"><h3>{{ _('Draft Items')}}</h3></div>
                <div class="bd">
{% if drafts.count() %}
<ul>
{% for d in drafts %}
    <li><a href="{{d.get_url()}}">{{d.title}}</a></li>
{% end %}
</ul>
{% else %}
<p class="grey">{{ _('None') }}</p>
{% end %}        
                </div>
            </div>
        </div>
    </div>
</div>

{% end %}

