{% extends '_dashboard.html' %}

{% block tabContent %}

{{ modules.Tabs('dashboard_agent', 'donations') }}


<div class="filterblock">
    <form method="get">
        <select name="by">
            <option>{{_('All')}}</option>
            <option>{{_('Verified')}}</option>
        </select>
        <button><span><span>{{_('Filter')}}</span></span></button>
        <input type="hidden" name="action" value="filter">
    </form>
</div>

<form action="donation/confirm" method="post">
     <table>
        <thead>
            <tr>
                <th>From</th>
                <th>Account</th>
                <th>Amount (RP)</th>
                <th>Verified</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>phajero</th>
                <th>BCA</th>
                <th>100.000</th>
                <th>v</th>
            </tr>
        </tbody>
     </table>
</form>
{% end %}

