{% set commenters = item.get_commenters() %}

<div class="mod comments">
    <div class="inner">
        <div class="hd"><h3>{{ _('Comments')}}</h3></div>
        <div class="bd">
            <div id="commentsbox">
            {% if item.comments %}
                {% for comment in item.comments %}
                    {% set user = commenters[comment['user'].id] %} 
                    {{ modules.Static("item-comment", comment=comment, user=user, commenters=commenters, item=item) }}
                {% end %}
            {% else %}
                <p id="emptycomment">Add yours</p>
            {% end %}
            </div>
        </div>
    </div>
</div>

<div class="mod comment-new">
    <div class="inner">
        <div class="hd"><h3>{{ _('Add your comment')}}</h3></div>
        <div class="bd">
            <form action="/comment/add" method="post">
                <textarea rows="6" cols="40" name="text"></textarea>
                {{ xsrf_form_html() }}
                <input type="hidden" name="next" value="{{current_path}}" />
                <input type="hidden" name="content_id" value="{{item._id}}" />
                <p><button class="ajax"><span><span>Send</span></span></button>
            </form>
        </div>
    </div>
</div>
