<div id="comment-{{comment['id']}}" class="line item">
                
            <p><a href="{{user.get_url()}}">{{ user.username }}</a>: {{ comment['text']}} - <em>{{ fd(comment['created_at'])}}</em></p>
            <div id="resp-{{comment['id']}}">
            {% if len(comment['responses']) %}<hr />
                {% for r in comment['responses'] %}
                    {% set cr = commenters[r['user'].id] %} 
                    <p>{{ r['text'] }} - {{ cr['username'] }}</p>
                {% end %}
            {% end %}
            </div>
          </div>
  <div class="addcommentbox"><a class="l4resForm" href="javascript:void(0);">Add comment</a>
  <form action="/comment/add" method="post" class="hidden respForm">
        <textarea rows="2" cols="30" name="text"></textarea>
        {{ xsrf_form_html() }}
        <input type="hidden" name="content_id" value="{{item['_id']}}" />
        <input type="hidden" name="parent" value="{{comment['id']}}" />
        <input type="hidden" name="next" value="{{current_path}}" />
        <p><button class="ajax"><span><span>Send</span></span></button>
    </form>
</div>
