<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{_('Welcome')}}{% end %} - Peduli Mobile Site</title>
    {% block head %}{% end %}
</head>

<body><div class="page">

<div class="head">
    <p>Peduli | <a href="/">Home</a> / 
    <a href="/articles">Articles</a> 
    <a href="/projects">Projects</a>
    <a href="/users">Users</a>
    <span class="link-separator">|</span>
        {% if current_user %}
        <a href="/logout/?next={{ current_path }}">{{ _('logout') }}</a>
        {% else %}
        {{ _('hello, guest') }}. <a href="{{BP}}/login">{{_('login')}}</a>
        {% end %}
    </p>
</div><!-- /.head -->     

    <div class="body roundedbig">
        <div class="main">
            <div class="mainWrapper {% block wpclass %}{% end %}">
		        {{ modules.Flash() }}
		        {% block body %}{% end %}
            </div>
        </div>
        <div class="rightCol">
            {% block sidebar %}{% end %}
        </div>

    </div>
</div><!-- /.page -->
<br />
<hr style="clear:both;" />
    <p><a href="http://obscurite.ind.ws">Full Site</a></p>
</body>
</html>
