/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#333;}
/* fonts */
body{font:14px/1.431 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
html { color:#333; background:#FAFDFE url("img/body.jpg?v=v1") center top no-repeat; }

/* **************** GRIDS ***************** */
.line:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.lastUnit:after{content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";visibility:hidden; clear:both;height:0 !important;display:block;line-height:0;}
.line{*zoom:1;}
.unit{float:left;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of7{width:28.571%;}
.size5of7{width:71.428%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.size1of6{width:16.66666%}
.size5of6{width:83.33333%}
.lastUnit {display: table-cell; *display:block;*zoom:1;float:none;_position:relative; _left:-3px; _margin-right: -3px;width:auto;}

.lastUnit {float:none;_position:relative; _left:-3px; _margin-right: -3px;width:auto;}
/* extending grids to allow a unit that takes the width of its content */
.media{width:auto;}

.line { margin-bottom: 10px;}
.hidden { display: none !important; }

/* **************** TEMPLATE ***************** */
.head { margin-bottom: 10px; }
body{_text-align:center;}/* IE5.5 */
.body{padding: 10px; background:#fff; overflow:hidden; _overflow:visible; _zoom:1;}
.page{margin: 0 auto; width: 950px;_text-align:left;} /* wraps other template elems to set width */ /* text-align IE5.5 */
/* ====== Columns ====== */
.main{overflow: hidden;_overflow:visible;_zoom:1;}
.leftCol{float:left; width:250px;_margin-right:-3px;}
.rightCol{float:right; width: 300px;_margin-left:-3px;}
/* extend columns to allow for common column widths */


.mainWrapper { margin: 10px 0 10px 10px;}

/*==== CONTENT OBJECTS ====*/
h1, h2, h3, h4, h5, h6, ul, ol,dl, p,blockquote {padding:5px 10px; font-weight: normal; }
h1, h2, h3, h4, h5, h6,img{ text-transform: capitalize;}
pre{margin: 10px;}

/*==== Table ====*/
table { margin: 10px; width: 100%; }
/*==== Elements ====*/
em{font-style: italic;}
strong{font-weight:bold;}
hr{width: 90%; border: 2px solid #e2e2e2; border-width: 0 0 2px 0; margin: 10px 0;}
.hrthin { border-width: 1px 0 0; margin: 5px 0;}

code{color:#0B8C8F;}
/* ====== Headings ====== */
/* .h1-.h6 classes should be used to maintain the semantically appropriate heading levels - NOT for use on non-headings */
h1, .h1{font-size:196%; font-style: normal; color:#D20C59;}
h2, .h2{font-size:226%; font-style: normal; color:#F64C3B;}
h3, .h3{font-size:146.5%; font-style: normal; color:#DF2B72;}
h4, .h4{font-size:123.1%; font-style: normal; color: #587445;}
h5, .h5{font-size:105%; font-style: normal; color:#AE0345;}
/* if additional headings are needed they should be created via additional classes, never via location dependant styling */
.category{font-size:108%; font-weight:normal; font-style: normal; text-transform:uppercase; color: #333;}
.category a{color: #333;}
.important a{font-weight:bold;}

/* ====== links ===== */
a { color: #036; text-decoration: none }
a:focus, a:hover { text-decoration: underline }
a:visited { color:#005a9c; }
.small-link:hover { text-decoration: none; }

/* ====== Lists ======*/
/* numbered list */
ol.simpleList li{list-style-type: decimal; margin-left:40px;}
/* standard list */
ul.simpleList li{list-style-type:disc; margin-left:40px;}

/* ====== blockquote ====== */
cite{display:block; text-align:right; padding-top: 10px;}

/* ====== image treatments (get more from jason santa maria) ====== */
.caption{font-size:13px; color:#666666; font-style:italic;padding-top:0;}
/* will need to either
1. find a way to capture the width of the caption in the width of the image or flash
2. Set some default widths, mby use flickr widths?
*/
/* ===== media ===== */
.media{overflow:hidden; overflow:visible; zoom:1;margin:10px;}
.media .img{float:left;margin-right: 5px;}
.media .img img{display:block;}
.media .imgExt{float:right; margin-left: 5px;}

/*===== FORM =====*/
form { padding: 0;}
input, textarea { border: 1px solid #ccc; padding: 1px 2px; }
input:focus, textarea:focus { background: #FFFFCC; border: 1px solid #DEDE63; }
form label { display: block; padding-top: 10px; margin-bottom: 3px; font-size: 120%; color: #555; cursor: pointer;}
.invalid { padding: 10px; font-size:85%;background: #FFBBBF; text-transform: lowercase; margin-bottom: 10px;}
.i .invalid { background: none; padding: 0; color: #DB4729; font-size: 80%;}
.i { clear: both; }
input[type=file] {
  cursor: pointer; cursor: hand;
}

/*===== FLASH MESSAGE ====*/
#flash_message { padding: 10px; color: #776D23; background: #FFFAD4; width: 100%; margin-bottom: 10px;}
#flash_message .close { float:right;padding:5px 10px; margin-right: 10px;}
#flash_message .close a {
display:block;
font-size:10px;
height:14px;
padding:0;
background:transparent url(/static/img/flashtick.png) no-repeat scroll 0 0;
text-decoration:none;
width:14px;
}
#flash_message a span { display: none; }

/*===== PAGINATION =====*/
.pagination {
    margin: 20px 0 10px 0;
    text-align: right;
}
.pagination .sep, .pagination .commata { display: none; }
.pagination a, .pagination strong {
padding: 4px;
margin: 0 1px;
border: 1px solid #ddd;
text-decoration: none;
font-weight: bold;
}
.pagination .next {
    font-weight: normal;
}

/*===== TOP BAR =====*/
.head #topbar {
background-color:#CAE795;
float:right;
height:30px;
line-height:22px;
max-width:750px;
padding:5px 10px 0 15px;
width:auto;
}

.head #topbar #hlinks {
float:left;
margin:0 35px 0 0;
}

.head #topbar #hsearch {
    float:left;
}
.head #topbar form { padding: 0; }

#hsearch .textbox {
background:#fff url(/static/img/search.png?v=123) no-repeat scroll 3px 20%;
border-color:#ccc;
border-style:solid none none solid;
border-width:1px medium medium 1px;
margin:0;
color: #aaa;
max-width:200px;
padding:2px 5px 2px 21px;
font-size:90%;
}

/*===== TAB HEADER =====*/
#subheader {
margin-top: 20px;
border-bottom:1px solid #C6D2AD;
clear:both;
height:34px;
}
#subheader h2 {
float:left;
font-size:170%;
line-height:34px;
margin-bottom:0px;
padding: 0 0 0 10px;
}

#tabs {
float:right;
font-weight:bold;
}

#tabs a.youarehere, #tabs a:hover {
border-color:#C6D2AD #C6D2AD #fff #C6D2AD;
border-style:solid;
border-width:1px;
color:black;
height:30px;
line-height:28px;
margin-top:3px;
}
#tabs a.youarehere, #tabs a.youarehere:hover { font-size:17px; padding:0 11px; }
#tabs a:hover { padding: 0 3px; color: #555;}

#tabs a {
border:1px solid #FFFFFF;
color:#999;
display:block;
float:left;
font-size:13px;
height:24px;
line-height:24px;
margin:4px 4px 0 0;
padding: 0 3px;
text-decoration:none;
}

.editbar { padding: 10px; }
.actionbar { }

.sep-left { border-left: 1px solid #eee; }

.thumb2, .thumb3 { width: 30px; height: 30px; background: #FFA500; }
.thumb3 { background: #EFC7EE; }

.thumb { float:left; position: relative; margin-right: 10px;}
.thumb span { cursor: pointer; position: absolute; display:block; width: 17px; height: 20px; background: red; color: #fff;}
.thumb .insert {top: 0; right: 0; text-indent: -1000px; background: #82D71A url(img/arrow1_n.gif) no-repeat;}
.thumb .rm { bottom: 0; right: 0; text-indent: -1000px; background: url(img/delete.png) no-repeat;}

#nojs { position: fixed; z-index: 999999; top: 0; left: 0; width: 100%; }
#loading { background: url(/static/img/ajax-loader2.gif) no-repeat;
display: block; float: left; color: #999; margin: 10px 0; padding: 0 20px; font-size: 11px;}
.uploader button { float: left; }

.attachment { padding: 5px 10px; }
.attachment .binary { border-left: 5px solid #eee; }
.attachment .caption { padding: 0 10px; }

/*=====: DISQUS =====*/
.dsq-brlink, .dsq-dc-logo { display: none; }
#disqus_thread h3 { padding-left: 0; }

/*==== TAG ====*/
.cb .tags { margin: 10px 0; }
.cb .tags li { display: block; margin: 5px;}
.cb .tags span { font-size: 170%; color: #999;}
.cb ul.tags { padding-left: 0; }
.cb .tag { font-size: 1.4em; }
.tags li { display: block; float: left; padding: 5px;}
.tag {
-moz-border-radius: 5px 0 5px 0;
-webkit-border-radius: 5px 0 5px 0;
border-radius: 5px 0 5px 0;
background-color:#309EB9;
color:#FFFFFF !important;
margin:0 3px 3px 0;
padding:4px 8px;
text-decoration:none;
white-space: nowrap;
font-size:90%;
}
.tag:hover {
background-color:#52B930;
text-decoration:none;
}

.flag input {visibility: hidden;vertical-align: middle;  margin-left: -14px;}
.flag label { display: block; float: left; }
.flag .tag { font-size: 90%; background-color: #A9C945;}
.flag .voted { padding-left: 25px; background: #34DF3F url(img/tick.png?v=232) 5px 25% no-repeat;}
.ts { background: #f00; }
.flag .me { padding-left: 20px; font-size: 135%; background: #A0E63B;text-decoration: underline;}


/* ====== special formatting classes ====== */
.np { padding: 0; }
.ntp { padding-top: 0;}
.detail{color: #777; font-size:11px;display:block;}
.detail span a { color: #6F9157;}
.logo { width: 78px; height: 51px;
display: inline-table; float: left;
margin-right: 15px; margin-top: -17px; margin-left: -20px;
}
.linetop { border-top: 1px solid #ccc; }

.cb { font-size:90%; line-height: 150%; padding-right: 30px; margin-bottom: 1em;}
.cb h3, .cb h4 { margin: .2em 0 .5em; }
.cb p { padding: 10px; }
.cb ul, .cb ol { margin: 0; padding: 0 0 0 25px;}
.cb ul li { list-style: disc;}
.cb ol li { list-style:decimal; }
.cb li { margin: 0 0 .5em 10px; }

.foot { background: url(img/body.jpg) top left no-repeat; margin: 15px 0 15px; padding: 10px; clear: both;}
.foot a, .foot a:active, .foot a:visited, .foot a:hover { color: #555; font-size: 90%;}
.foot p { text-align: right; }
.foot p span { border-left: 7px solid #719443; }

.note { background-color: #eee; }
.box { margin: 10px 0; padding: 10px; }
.clear { clear: both; }
.ultrabig { font-size: 350%; line-height: 100%; font-weight: bold; }
.grey { color: #999; }
.small { font-size: 85%; }
.big { font-size: 125%; }
.lined { border-bottom: 1px solid #ccc; margin-bottom: 10px; padding-bottom:3px;}
.tip { font-size:90%; color: #999; padding: 0;}

.roundedtop {
-moz-border-radius: 6px 6px 0 0;
 -webkit-border-radius: 6px 6px 0 0;
 border-radius: 6px 6px 0 0;
}
.roundedbottom {
-moz-border-radius: 0 0 6px 6px;
 -webkit-border-radius: 0 0 6px 6px;
 border-radius: 0 0 6px 6px;
}
.rounded {
-moz-border-radius: 6px;
 -webkit-border-radius: 6px;
 border-radius: 6px;
}
.roundedbig {
-moz-border-radius: 12px;
 -webkit-border-radius: 12px;
 border-radius: 12px;
}

/*==== BADGE ====*/
.badge { font-size: 120%; margin-left: 3px; cursor: default;}
.badgecount { margin-left: 3px; }
.b-karma { color: #999; font-size: 150%; font-weight:bold;}
.b-article { color: #CC9966;}
.b-activity { color: #A2D62D;}

