{% if articles.count() %}

<div class="mod rounded simple">

<b class="top"><b class="tl"></b><b class="tr"></b></b>

<div class="inner">
    <div class="hd"><h3>{{ _('Latest Articles') }}</h3></div>
	<div class="bd leftpadded10">
	{% for article in articles %}
	<div class="line">
	   <div class="unit size1of7">
        {{ modules.Avatar(article.author) }}
	   </div>
	   <div class="lastUnit size6of7">
	       <p><a href="{{ article.get_url() }}">{{ escape(article.title) }}</a></p>
	       <p>{{ article.excerpt }}</p>
	   </div>
	</div>
	{% end %}
	</div>
</div>

<b class="bottom"><b class="bl"></b><b class="br"></b></b>
</div>

{% end %}


