<div class="line mod cloud">
    <div class="inner">
        <div class="hd"></div>
        <div class="bd">
            <span class="c s1">scholarship</span>
            <span class="c s5">earthquake</span>
            <span class="c s4">education</span>
            <span class="c s8">enterpreneur</span>
            <span class="c s3">rent</span>
            <span class="c s2">tag-1</span>
            <span class="c s5">tag2</span>
        </div>
    </div>
</div>

<style>
.c { display: block; float: left; height: 1.2em; margin: 0 5px; text-decoration: underline; }
.s1 { font-size: 90%; }
.s3 { font-size: 130%; }
.s4 { font-size: 150%; }
.s5 { font-size: 220%; }
</style>