<style type="text/css">            
.jmaxtext { float: right; }
</style>

<div class="mod simple">
<b class="top"><b class="tl"></b><b class="tr"></b></b>
    <div class="bd" style="position:relative">
        {% if current_user %}
            {{ f.rendernote(f.note) }}
            <form method="post" class="line withtips">
                {{ modules.Formfield(f.comment) }}
                {{ xsrf_form_html() }}
                <div class="buttons">
                    <button class="submit" name="send"><span><span>{{_('Give Comment')}}</span></span></button>
                </div>
            </form>
            
            <script type="text/javascript">
            $("#comment").maxinput({
                limit: 100,
                position: 'before',
                message: '{{_('characters left')}}'
            });
            </script>

        {% else %}
            <p>{{ _('Login to give comment to this user') }}</p>
        {% end %}
    </div>
<b class="bottom"><b class="bl"></b><b class="br"></b></b>
</div>


