{% import forms %}
<div class="i">
<div class="line">
	{% set n = len(inputs) %}
	{% for h, i in enumerate(inputs) %}
        {% set unitclass = 'unit' if h < (n-1) else 'lastUnit' %}
        
        {% if i %}
            {% set desc = _(i.description)  %}
            {% if is_required(i) %}{% set desc = "<strong"> + desc + "*</strong>" %}{% end %}
        	
            <div class="{{unitclass}} size1of{{n}}">
                {% if type(i) is forms.Checkbox %}
                    <label for="{{i.id}}">{{ i.render() }} <span class="cb-label">{{ _(i.description) }}</span> {{ i.rendernote(i.note) }}</label> 
                {% else %}
                    <label for="{{i.id}}">{{ _(i.description) }} {{ i.rendernote(i.note) }}</label>
                    {{ i.render() }}
                {% end %}
        	</div>
        {% else %}
            <div class="{{unitclass}} size1of{{n}}"></div>
        {% end %}
	{% end %}
</div>
</div>

