<div class="mod stat">
    <div class="inner">
        <div class="bd">
            <div class="line"><span class="ultrabig grey">{{int(item.view_count)}}</span> hits</div>

            {{ modules.Tags(item.tags) }}

            {% if item.has_key('need_volunteer') %}
                {{ modules.Tags(item.volunteer_tags) }}
            {% end %}


            <form action="/flag" class="line">
                <h3 style="margin-bottom:5px">{% if current_user %}{{ _('What do you think?')}} {% else %} {{ _('User Vote') }} {% end %}</h3>
                <div class="flag">
                    {% for flag, count in votes.iteritems() %}
                        {% set c = " voted " if (vote and str(vote.vote) == flag) else "" %}
                    <label class="tag t1{{c}}"> <input type="radio" class="ut" name="myflag" value="{{flag}}"/>{{FLAGS[flag]}} {% if count %} <span>{{count}}</span>{% else %}<span></span>{% end %}</label>
                    {% end %}
                    <label class="tag hidden"> <input type="radio" class="ut" name="myflag" value="" />Sampah <span>0</span></label>
                </div>
            </form>
            {% if not current_user %}<p class="small grey">{{ _('Log in to be able to vote') }}</p>{% end %}

            {% if not vote and current_user and current_user != item.author %}
<script type="text/javascript">
var has_vote = {{ "true" if vote else "false"}};
$('.flag .tag').mouseup(function() {
    if (has_vote) return false;
        $tag = $(this)
        $flag = $tag.find('input');
        R.request('/flag',
                { type: '{{ item.__class__.__name__ }}',
                  slug:'{{item.slug}}', flag: $flag.val() },
                'POST', function(resp) {
                    if (resp.status == 'OK') {
                        $tag.addClass("voted");
                        $vote = $tag.find('span');
                        if ($vote.text() != "") {
                            $vote.text(parseInt($vote.text())+1);
                        } else {
                            $vote.text("1");
                        }
                        has_vote = true;
                    }
                }
    );
});
</script>
            {% end %}
        </div>
    </div>
</div>

