<div class="mod stat">
    <div class="inner">
        <div class="bd">
            <div class="line item">
                <div class="unit size1of3">
                    <span><span class="ultrabig grey">{{int(h.get(item.view_count,0))}}</span></span><br />
                    <span><span class="grey">{{ len(item.comments) }}</span> comments</span>
                </div>
                <div class="lastUnit size2of3">
                    {{ modules.Static('tags', tags=item.tags) }}
                </div>
            </div>

<div class="link">            
    <div style="width: 3ex;" class="midcol unvoted">
        <div onclick="showcover(true, 'vote_t3_aidea')" class="arrow up"></div>
        <div class="score dislikes">15</div>
        <div class="score unvoted">16</div>
        <div class="score likes">17</div>
        <div onclick="showcover(true, 'vote_t3_aidea')" class="arrow down"></div>
    </div>
</div>
            {% if item.has_key('need_volunteer') %}
                {{ modules.Static('tags', tags=item.volunteer_tags) }}
            {% end %}

        </div>
    </div>
</div>

