<!--  comment -->
<form class="fComment" action="profile/comment/addto/{{item._id}}" method="post">
<div class="mod"><div class="inner"><div class="bd">
<div class="line comment">
    <div class="unit">
      {{ modules.Avatar(item['from']) }}
      </div>
      <div class="lastUnit">
         <p><a href="{{BP}}/profile/{{item['from'].username}}">{{ item['from'].username}}</a> {{ s.truncate_words(item.comment, 100) }} 
         <span class="detail">{{ h.timesince(h.utc_to_local(item.created_at))}}</span>
         </p>
         {% if current_user %}
         <div class="cReplies">
             <div class="lp10"><input type="text" size="20" value="{{ _('write a comment')}}"  />
                 <div class="cmb" style="display:none">
                     <div class="line">
                         <div class="unit">{{ modules.Avatar(current_user) }}</div>
                         <div class="lastUnit"><textarea rows="2" cols="20"></textarea>
                            <div class="buttons"><button class="ajax"><span><span>{{_('Comment')}}</span></span></button></div>
                         </div>
                     </div>
                </div>
             </div>
         </div>
         {% end %}
      </div>
 </div>
 </div></div></div>
{{ xsrf_form_html() }}
 </form>
 <!-- /.comment -->
 
 