<div class="menu">
    <div class="logo"><a href="{{BP}}/"><img src="{{ static_url('img/logo.png') }}" width="255" height="56" title="Peduli" /></a></div>
    <ul>
        <li class="rounded {{check(['articles', 'article'])}}"><a href="{{BP}}/articles">{{ _('Articles') }}</a></li>
        <li class="rounded {{check(['activities', 'activity'])}}"><a href="{{BP}}/activities">{{ _('Activities') }}</a></li>
        <li class="rounded {{check(['tags'])}}"><a href="/tags">{{ _('Tags') }}</a></li>
        <li class="rounded {{check(['users', 'profile'])}}"><a href="{{BP}}/users">{{ _('Users') }}</a></li>
        {% if current_user %}
        <li class="rounded db {{check(['dashboard'])}}"><a href="{{BP}}/dashboard">{{ _('Dashboard') }}</a></li>
        {% end %}
    </ul>
</div>
<br style="clear:both" />
