{% if not items.count() %}
    {{ modules.Static('intro') }}
{% else %}
<div class="wrSplash">
    <div id="splash" class="ha">
        {% set i = items.next() %}
        <img src="{{static_url('uploads/' + h.medium_size(i.attachments)) }}" />
        <div style='display:block;width:190px'>
            <h3><a href="{{ i.get_url() }}">{{ escape(i.title) }}</a></h3>
            <p>{{ s.truncate_words(i.excerpt, 10) }} -- <span class="small">{{ fd(i.created_at) }}</span></p>
        </div>


        {% for i in items %}
        <img src="{{static_url('uploads/' + h.medium_size(i.attachments))}}" />
        <div>
            <h3><a href="{{ i.get_url() }}">{{ escape(i.title) }}</a></h3>
            <p>{{ s.truncate_words(i.excerpt, 15) }} -- <span class="small">{{ fd(i.created_at) }}</span></p>
        </div>
        {% end %}
    </div>
</div>
<br class="clear" />
{% block inlinejs %}
<script type="text/javascript">
$(function() {
  $("#splash").tabs("#splash div", {tabs: 'img', effect: 'horizontal'});
})
</script>
{% end %}

{% end %}
