<div class="line mod cloud">
    <div class="inner">
        <div class="bd">
            <div class="line">
                <ul class="tags">
            {% for tag in tags %}
                <li><a href="{{BP}}/tag/{{tag._id}}?t=activity" class="tag s{{ tag.font_size }}">{{ tag._id }} x{{int(tag.value)}}</a></li>
            {% end %}
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
.c { display: block; float: left; height: 1.2em; margin: 0 5px; text-decoration: underline; }
.s1 { font-size: 60%; }
.s2 { font-size: 70%; }
.s3 { font-size: 80%; }
.s4 { font-size: 90%; }
.s5 { font-size: 100%; }
.s6 { font-size: 110%; }
.s7 { font-size: 120%; }
.s8 { font-size: 130%; }
.s9 { font-size: 140%; }
.s10 { font-size: 150%; }
</style>