<div class="mod simple userblock">
    <b class="top"><b class="tl"></b><b class="tr"></b></b>
    <div class="inner">
        <div class="bd">
            <div class="line">

               <div class="unit media">
                    {{ modules.Avatar(user) }}
               </div>

               <div class="lastUnit">
                    <p class=""><a href="{{BP}}/profile/{{ user.username }}">{{ user.username }}</a> {{ modules.UserItems(user) }}</p>
                    <p class="ntp detail">
                    {{_('member since')}} {{ fd(h.utc_to_local(user.created_at))}}
                    </p>

                    <div id="followButton">{{ modules.FollowButton(user) }}</div>

               </div>
            </div>
        </div>
    </div>
    <b class="bottom"><b class="bl"></b><b class="br"></b></b>
</div>
