<div class="mod simple userblock">
    <div class="inner">
        <div class="bd leftpadded10">
            <div class="line">
		       <div class="unit">
                {{ modules.Avatar(user) }}
		       </div>
		       <div class="lastUnit">
                    <p><a href="{{BP}}/profile/{{ user.username }}">{{ user.username }}</a>
                    {% if user.article_count %}
                        <span title="{{_('articles')}}" class="badge b-karma">169</span><span class="badgecount">{{user.article_count }}</span>
                    {% end %}
                     
                    {% if user.article_count %}
                        <span title="{{_('articles')}}" class="badge b-article">&#9679;</span><span class="badgecount">{{user.article_count }}</span>
                    {% end %}
                    {% if user.activity_count %}
                        <span title="{{_('activities')}}" class="badge b-activity">&#9679;</span><span class="badgecount">{{user.activity_count }}</span>
                    {% end %}
                    </p>
                    {% if user.website %}<p><a href="{{user.website}}}}">{{user.website}}</a></p>{% end %}
               </div>
            </div>
        </div>
    </div>
</div>