{% if user.points %}
<span title="{{_('articles')}}" class="badge b-karma">{{ user.points }}</span>
{% end %}

{% if user.article_count %}
    <span title="{{_('articles')}}" class="badge b-article">&#9679;</span><span class="badgecount"><a href="{{BP}}/profile/{{user.username}}/articles">{{int(user.article_count) }}</a></span>
{% end %}

{% if user.project_count %}
    <span title="{{_('projects')}}" class="badge b-activity">&#9679;</span><span class="badgecount"><a href="{{BP}}/profile/{{user.username}}/projects">{{int(user.project_count) }}</a></span>
{% end %}
