{% extends 'base.html' %}

{% block title %} {{ escape(activity.title) }} - {{_('Activity')}}{% end %}

{% block body %}

<div class="post">
    <h2>{{ escape(activity.title) }}</h2>

    <div class="cb">
        {{ activity.content_html }}
    </div>

</div>

{{ modules.Disqus(activity) }}

{% end %}

{% block sidebar %}
     <div id='userblock'>{{ modules.UserBlock(activity.author) }}</div>
    {{ modules.ItemAction(activity) }}

    {% if current_user != activity.author and activity.need_donation %}
        <div class="mod simple rounded">
            <b class="top"><b class="tl"></b><b class="tr"></b></b>
            <div class="inner">
                <div class="hd"><h3 class="h-donate">{{ _('Plea for donation!') }}</h3>
                {% if activity.donation_amount_needed %}<p class="">(for as much as Rp {{ s.commify(activity.donation_amount_needed) }},-)</p>{% end %}
                </div>
                <div class="bd">
                  {% set accounts = activity.author.get_bank_accounts() %}

                  {% if accounts.count() %}
                    <div class="buttons">
                    <a class="dialog button" rel="#accounts" href="#"><span><span>Donate</span></span></a> <a class="dialog button" rel="#boxdonation" href="{{BP}}/donation/confirm/{{activity.slug}}"><span><span>{{ _('Confirm My Donation') }}</span></span></a>
                    </div>
                  {% end %}
                </div>
            </div>
        </div>

        {% if current_user != activity.author and accounts.count() %}
            <div id="accounts" class="modal facebox">
                <div class="wDialog">
                    <h3>{{_('Bank accounts of ')}} {{ h.get(activity.author.fullname, activity.author.username) }}</h3>
                    <table>
                      {% for acc in  accounts %}
                      <tr>
                        <td>{{ acc['bank'].upper() }}</td>
                        <td>{{ acc['number']}}</td>
                        <td>{{ acc['holder'] }}</td>
                      </tr>
                      {% end %}
                    </table>
                </div>
            </div>
        {% end %}
    {% end %}

    {{ modules.ItemStat(activity) }}

<div class="modal facebox" id="boxdonation"><div class="wDialog"></div></div>
<div class="ovl" id="slideshow">
    <a class="prev">{{_('prev')}}</a>
    <a class="next">{{_('next')}}</a>
    <div class="info"></div>
    <img class="progress" src="/static/css/img/ajax-loader2.gif" />
</div>

{% end %}
