{% extends 'base.html' %}

{% block title %}{{_('Activities')}}{% end %}

{% block body %}

{{ modules.Tabs('activities', tab) }}

{% if pagination.get_objects().count() %}
    {% set c = h.alternate(['rodd','rodd', 'reven', 'reven']) %}
    {% for group in h.group(pagination.get_objects(),2) %}
        <div class="items line">
        {% for i, item in enumerate(group) %}
            {% set unit = "lastUnit" if i == (len(group)-1) else "unit" %}
            <div class="{{ unit }} size1of2 {{c.next()}}">
                {{ modules.ItemSummary(item) }}
            </div>
        {% end %}
        </div>
    {% end %}
{% else %}
    <p class="grey" style="margin-top: 20px;">{{ _('None') }}</p>
{% end %}

<p class="clear"></p>

{{ pagination }}

{% end %}

