{% extends 'base.html' %}

{% block title %} {{ escape(activity.title) }} - {{_('Activity')}}{% end %}

{% block body %}

<div class="post">	    
	<h2>{{ escape(activity.title) }} - {{ h.pretty_date(h.utc_to_local(activity.created_at)) }}</h2>
	
	<div class="editbar">
		{{ h.link_if_editor(current_user, activity.author, BP + '/activity/edit/' + activity.slug, _('Edit'), _class='button') }} 
	    {{ h.link_button_if_editor(current_user, activity.author, BP + '/activity/remove/' + activity.slug,  _('Remove'), handler.xsrf_token) }}
	</div>
	
	<div class="cb">
	    {{ activity.content_html }}
	    <h4>Deliverable</h4>
	    {% if activity.deliverable %}
	    	{{ activity.deliverable_html }}
	    {% end %}
	</div>
	
	{{ modules.Tags(activity.tags) }}
</div>

{{ modules.Disqus(activity._id) }}     

{% end %}

{% block sidebar %}
    {{ modules.UserBlock(activity.author) }}
    
    <div class="mod simple">
        <b class="top"><b class="tl"></b><b class="tr"></b></b>
        <div class="inner">
            <div class="hd"><h3>{{ _('Donation') }}</h3></div>
            <div class="bd">
              <p>Amount Required: Rp 2.300.000,-</p>
              <p>Rekening Bank: <a href="#">BCA</a>, <a href="#">Mandiri</a>, <a href="#">Muamallat</a></p>
              <p><a class="dialog" rel="#boxdonation" href="{{BP}}/donation/confirm/{{activity.slug}}">
                    <button type="button">{{ _('Confirm My Donation') }}</button>
               </a></p>
               <div class="modal facebox" id="boxdonation"><div class="contentWrapper"></div></div>
            </div>
        </div>
    </div>

    <div class="mod simple">
		<b class="top"><b class="tl"></b><b class="tr"></b></b>
		<div class="inner">
		    <div class="bd">
		      <p>Posted on 29 Oktober 2009</p>
		      <p>364x {{_('viewed')}}</p>
		      <p>19 {{_('comments')}}</p>
		    </div>
		</div>
    </div>
		      
    {{ modules.Map((34,636)) }}
    {{ modules.ReportBox(current_path) }}

<script>
$(function() { 

})
</script>    
{% end %}