{% extends 'base.html' %}

{% block title %}
{% set title = _('edit activity') if activity.slug else _('new activity') %}
{{ title.title() }}{% end %}

{% block body %}

<noscript>
<div id="nojs"><strong>You need to enable javascript support in your browser if you want to write Article/Activity.</strong></div>
</noscript>

{{ f.rendernote(f.note) }}

<form method="post" action="{{BP}}/activity/edit" class="withtips">

{% set title = 'edit activity' if activity.slug else 'new activity' %}
{{ modules.Tabs('new_' + ('admin' if current_user.is_admin else current_user.type), 'activity', title, dashboard=True) }}


<div class="line tabWrapper">
	<div class="unit size1of6">
		<!-- the tabs --> 
		<ul class="tabs"> 
		    <li><a href="#fi">{{_('Meta')}}</a></li> 
		    <li><a href="#fc">{{_('Content')}}</a></li>
		    <li><a href="#fc">{{_('Miscellaneous')}}</a></li>  
		</ul> 
	</div>
	<div class="lastUnit size5of6">
		<div class="panes">
			<div class="pane">
                <div class="line">
                    <div class="unit size1of2">
        				{{ modules.Formfield(f.title) }}
        				{{ modules.Formfield(f.excerpt) }}
                        
                         {{ modules.Formfield(f.tags) }}
                        <div class="tags suggestedtags">
                            {{ modules.TagSuggestion(content_tags)}}
                        </div>
                    
                    </div>
                    <div class="lastUnit size1of2">
                        <div class="deps">
                            <div class="depsrc">
                                <label><input type="checkbox" name="choose_loc" /> Select Location</label>
                            </div>
                            <div class="deptarget">
                                <div class="loc" style="width:240px; height:150px; background:url(/static/uploads/maps/psm.gif) no-repeat;"></div>
                                {{ modules.FormfieldInColumns(f.lat, f.long) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line">
                   
                </div>
			</div>
			<div class="pane">
                {{ modules.Formfield(f.content) }}
                <div id="contentPreview" class="cb"></div>
                <div class="line">
                    <div class="line attachments">
                        
                    </div>
                    <div class="line uploader">
                        <a href="#" class="button" id="upload-button"><span><span>{{_('Add Attachment...')}}...</span></span></a> 
                        <div id="loading" style="display:none">{{_('uploading...')}}</div>
                    </div>
                </div>
			</div>
			<div class="pane">
                <div class="line">
                    <div class="unit size1of3">
                        <div class="line">
                        {{ modules.Formfield(f.date_start) }}
                        {{ modules.Formfield(f.date_end) }}
                        </div>
                         <hr class="hrthin" />
                        {{ modules.Formfield(f.enable_comment) }}
                    </div>
                    <div class="lastUnit size2of3">
                        <div class="deps">
                            <div class="depsrc">
                                {{ modules.Formfield(f.need_donation) }} <span class="grey small">{{_('If checked, your <a target=_blank href=/profile/edit#fb>Bank Account</a> will be displayed.')}}</span>
                            </div>
                            <div class="deptarget">
                            {{ modules.Formfield(f.donation_amount_needed) }}
                            </div>
                        </div>   
                        <div class="deps">
                            <div class="depsrc">
                                {{ modules.Formfield(f.need_volunteer) }} 
                            </div>
                            <div class="deptarget">
                                {{ modules.Formfield(f.volunteer_tags) }}
                                <div class="tags suggestedtags">
                                    {{ modules.TagSuggestion(user_tags, '#volunteer_tags')}}
                                </div>
                            </div>
                        </div>             
                    </div>
                </div>
                
                
			</div>
		</div>
	</div>
</div>
			
<div class="buttons line">
<button onclick="history.back(); return false;" name="action" value="back"><span><span>{{_('Cancel')}}</span></span></button>

{% if not activity.slug or activity.status == 'draft' %}
    <button class="positive" name="status" value="draft"><span><span>{{_('Save')}}</span></span></button>
    <button class="submit" name="status" value="published"><span><span>{{_('Publish')}}</span></span></button>
{% elif activity.status == 'published' %}
    <button class="submit" name="status" value="published"><span><span>{{_('Save')}}</span></span></button>
    <button class="negative" name="status" value="draft"><span><span>{{_('Unpublish')}}</span></span></button>
{% end %}

{% if activity.slug %}    
    {{ h.link_button_if_editor(current_user, activity.author, BP + '/activity/remove/' + activity.slug, _('Remove'), handler.xsrf_token) }}
{% end %}

</div>

<input type="hidden" name="attachments" value="{{ "$".join(["%(type)s#%(src)s#%(thumb_src)s#%(filename)s" % a for a in activity.attachments]) }}" />
<input type="hidden" name="attachment_counter" value="{{len(activity.attachments)}}" />

{{ xsrf_form_html() }}

{% if activity.slug %}
<input type="hidden" name="is_edit" value="1" />
<input type="hidden" name="slug" value="{{activity.slug}}" />
{% end %}
    
</form>

<style>
.deptarget { display:none; margin-left: 22px;}
.suggestedtags p { padding:3px 0; }
</style>
<script type="text/javascript">

// uploads
$counter = $('input[name=attachment_counter]');
$attachments = $(':input[name=attachments]');
content_type = 'activity';
is_new_doc = {{ int(not bool(activity.slug)) }};
textarea = '#content';
slug = '{{ activity.slug if activity.slug else '' }}';
</script>

{% end %}

{% block inlinejs %}
<script type="text/javascript" src="{{static_url('markitup/markitup.markdown.js')}}"></script>
<link href="{{static_url('markitup/markitup.markdown.css')}}" media="screen" rel="stylesheet" type="text/css" >
<script type="text/javascript" src="{{ static_url('date.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('jquery.datepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('ajaxupload.min.js') }}"></script>
<link rel="stylesheet" href="{{ static_url('css/datePicker.css') }}" type="text/css" media="screen, projection" />
<script type="text/javascript">
$(function() {
    $('.date').datePicker().trigger('change');
});
</script>
{% end %}

{% block postinlinejs %}
<script type="text/javascript" src="{{ static_url('upload.js') }}"></script>
{% end %}

