{% extends 'base.html' %}

{% block title %}
{% set title = 'edit activity' if activity.slug else 'new activity' %}
{{ title.title() }}{% end %}

{% block head %}
{{ modules.Static('markitup') }}
{% end %}

{% block body %}

<noscript>
<div id="nojs"><strong>You need to enable javascript support in your browser if you want to write Article/Activity.</strong></div>
</noscript>

{{ f.rendernote(f.note) }}

<form method="post" action="{{BP}}/activity/edit" class="withtips">

{% set title = 'edit activity' if activity.slug else 'new activity' %}
{{ modules.Tabs('new_' + ('admin' if current_user.is_admin else current_user.type), 'activity', title) }}


<div class="line tabWrapper">
	<div class="unit size1of5">
		<!-- the tabs --> 
		<ul class="tabs"> 
		    <li><a href="#fi">{{_('Meta')}}</a></li> 
		    <li><a href="#fc">{{_('Content')}}</a></li>
		    <li><a href="#fc">{{_('Miscellaneous')}}</a></li>  
		</ul> 
	</div>
	<div class="lastUnit size4of5">
		<div class="panes">
			<div class="pane">
                <div class="line">
                    <div class="unit size1of2">
        				{{ modules.Formfield(f.title) }}
        				{{ modules.Formfield(f.excerpt) }}
        				<div style="width: 360px">
        					{{ modules.FormfieldInColumns(f.date_start, f.date_end) }}
        				</div>
        				{{ modules.Formfield(f.tags) }}
                        <div class="tags suggestedtags">
                            {{ modules.TagSuggestion(suggested_tags)}}
                        </div>
                    </div>
                    <div class="lastUnit size1of2">
                        <label><input type="checkbox" name="choose_loc" /> Select Location</label>
                        <div class="loc" style="width:300px; height:300px; background:#eee">
                            
                        </div>
                    </div>
                </div>
			</div>
			<div class="pane">
				{{ modules.Formfield(f.content) }}
                <div class="line">
                    <div class="unit size2of3 photos">
                        <div class="line attachments">
                            
                        </div>
                        <div class="line uploader">
                            <button class="button" id="upload-button">{{_('Add Attachment...')}}...</button> 
                            <div id="loading" style="display:none">uploading...</div>
                        </div>
                    </div>
                    <div class="lastUnit size1of3">
                        <div class="mod highlight">
                            <div class="inner">
                                <div class="hd"><h3>{{_('Help')}}</h3></div>
                                <div class="bd">
                                    <p>{{ _('You can upload files of type photos/image (JPG/GIF/PNG) and PDF.')}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="pane">
                {{ modules.Formfield(f.deliverable) }}
                 
                <div class="line" style="width: 80%">
                    <div class="unit size1of2">
                        {{ modules.Formfield(f.need_donation) }} <span class="grey small">If checked, your <a href="/profile/edit#fb">Bank Account</a> will be displayed.</span>       
                    </div>
                    <div id="wDA" class="lastUnit size1of2">
                        {{ modules.Formfield(f.donation_amount_needed) }}
                    </div>
                </div>
                
				{{ modules.Formfield(f.enable_comment) }}
				<br />
                
			</div>
		</div>
	</div>
</div>
			
<div class="actionbar">
<input class="button" onclick="history.back()" name="cancel" type="button" value="{{_('Cancel')}}"/>

{% if not activity.slug or activity.status == 'draft' %}
    <button class="positive" name="status" value="draft">{{_('Save')}}</button>
    <button class="positive" name="status" value="published">{{_('Publish')}}</button>
{% elif activity.status == 'published' %}
    <button class="positive" name="status" value="published">{{_('Save')}}</button>
    <button class="positive" name="status" value="draft">{{_('Unpublish')}}</button>
{% end %}

{% if activity.slug %}    
    {{ h.link_button_if_editor(current_user, activity.author, BP + '/activity/remove/' + activity.slug, _('Remove'), handler.xsrf_token) }}
{% end %}

</div>

<input type="hidden" name="attachments" value="{{ "$".join(["%(type)s#%(src)s#%(thumb_src)s#%(filename)s" % a for a in activity.attachments]) }}" />
<input type="hidden" name="attachment_counter" value="{{len(activity.attachments)}}" />

{{ xsrf_form_html() }}

{% if activity.slug %}
<input type="hidden" name="is_edit" value="1" />
<input type="hidden" name="slug" value="{{activity.slug}}" />
{% end %}
    
</form>

<script type="text/javascript">
$donation = $('#need_donation_1');
$donation_amount = $('#wDA');
$donation_amount.hide();
if ($donation.attr('checked')) {
    $donation_amount.show();
}

$donation.change(function() {
	$donation_amount.toggle();      
});

// uploads
$counter = $('input[name=attachment_counter]');
$attachments = $(':input[name=attachments]');
content_type = 'activity';
is_new_doc = {{ int(not bool(activity.slug)) }};
textarea = '#content';
slug = '{{ activity.slug if activity.slug else '' }}';
</script>

{% end %}

{% block inlinejs %}
<script type="text/javascript" src="{{ static_url('date.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('jquery.datepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('ajaxupload.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('jquery.template.min.js') }}"></script>
<link rel="stylesheet" href="{{ static_url('css/datePicker.css') }}" type="text/css" media="screen, projection" />
<script type="text/javascript">
$(function() {
    $('.date').datePicker().trigger('change');
});
</script>
{% end %}

{% block postinlinejs %}
<script type="text/javascript" src="{{ static_url('upload.js') }}"></script>
{% end %}

