{% extends 'api-base.html' %}

{% block title %}Peduli API {% end %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{static_url('syntaxhighlighter/styles/shCore.css')}}"/>
<link type="text/css" rel="stylesheet" href="{{static_url('syntaxhighlighter/styles/shThemeDjango.css')}}"/>
{% end %}

{% block body %}

<h1><a name="intro">Introduction</a></h1>
<p>Peduli API provides a standard way of accessing and implementing applications on top of
the Peduli platform. The API is a simple HTTP API that can be accessed from any language that supports creation of HTTP requests.</p>

<p style="padding:10px 0"><a style="font-size:120%; border:1px solid #ccc; padding: 5px;" href="/request">Request</a></p>

<h1>Table of Contents</h1>
<ul class="TOC" id="toc_holder">
    <li><a href="#python_example">Python example</a></li>
    <li><a href="#contents">Contents</a></li>
    <li class="inner_li">/articles (GET)</li>
    <li class="inner_li">/activities (GET)</li>
    <li class="inner_li">/article (GET, POST, PUT, DELETE)</li>
    <li class="inner_li">/activity (GET, POST, PUT, DELETE)</li>
</ul>

<h1>
    <a name="python_example">Python example</a> <a class="top_link" href="#toc">[top]</a>
</h1>

<div class="brush: python; code">
<pre>
import urllib, urllib2, cookielib

key = 'dKkIdUCoHo7vUDPjd3'
secret = 'dKkIdUCoHo7vUDPjd3zE0bRvdm5a9sQi'
get_api_url = lambda x: 'https://api.obscurite.ind.ws/API%s' % x
encode = urllib.urlencode

resp = urllib2.urlopen(get_api_url('/article'),
        encode({'username': 'user_x',
                'password': 'user_x_pw',
                'key': key, 'secret': secret})).read()
print resp
</pre>
</div>

<h3>Output</h3>

<div class="brush: shell;">
<pre>
curl --cacert /rinjani/var/peduli.crt "https://api.obscurite.ind.ws/articles?key=key&secret=secret&page=1"
</pre>
</div>

<div class="brush: javascript;">
<pre>
{{ escape('{"data": [{"view_count": 9, "title": "Test Inline", "created_at": "2009-12-10 05:14:27", "tags": ["disaster"], "excerpt": "test 1 2 3", "updated_at": "2009-12-10 05:23:32", "content": "Blah blah", "_id": "Article-a5754bad-9386-4b19-9fd2-cd853fad07a6", "slug": "test-inline"}], "success_text": "ok"}')}} 
</pre>
</div>

<script type="text/javascript" src="{{static_url('jquery.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('syntaxhighlighter/scripts/shCore.js')}}"></script>
<script type="text/javascript" src="{{static_url('syntaxhighlighter/scripts/shBrushBash.js')}}"></script>
<script type="text/javascript" src="{{static_url('syntaxhighlighter/scripts/shBrushJScript.js')}}"></script>
<script type="text/javascript" src="{{static_url('syntaxhighlighter/scripts/shBrushPython.js')}}"></script>
<script type="text/javascript">
$('div[class^=brush]').each(function() {
    $('pre', this).addClass($(this).attr('class'));
});
SyntaxHighlighter.defaults['gutter'] = false;
SyntaxHighlighter.config.clipboardSwf = '{{static_url("syntaxhighlighter/scripts/clipboard.swf")}}';
SyntaxHighlighter.all();
</script>

{% end %}
