{% extends 'base.html' %}

{% block head %}
{{ modules.Static('markitup') }}
{% end %}
s
{% block body %}

<form action="{{BP}}/article/edit" method="post" class="withtips">

{% set title = 'edit article' if slug else 'new article' %}
{{ modules.Tabs('new_' + ('admin' if current_user.is_admin else current_user.type), 'new article', title) }}

{{ f.rendernote(f.note) }}

<div class="line tabWrapper">
	<div class="unit size1of5">
		<!-- the tabs --> 
		<ul class="tabs"> 
		    <li><a href="#fi">{{_('Information')}}</a></li> 
		    <li><a href="#fc">{{_('Content')}}</a></li> 
		</ul> 
	</div>
	<div class="lastUnit size4of5">
		<div class="panes">
			<div class="pane">
				{{ modules.Formfield(f.title) }}
				{{ modules.Formfield(f.excerpt) }}
				{{ modules.Formfield(f.tags) }}
			</div>
			<div class="pane">
				{{ modules.Formfield(f.content) }}
			</div>
		</div>
	</div>
</div>

<div class="actionbar"><input class="button" name="submit" type="submit" value="Save"/></div>

{{ xsrf_form_html() }}

{% if slug %}
<input type="hidden" name="is_edit" value="1" />
<input type="hidden" name="slug" value="{{slug}}" />				
{% end %}

</form>

{% end %}

