{% extends 'base.html' %}

{% block title %} {{ escape(article['title']) }} - {{_('Article')}}{% end %}

{% block body %}

<div class="post">	
	<h2>{{ escape(article.title) }}</h2>
    

	<div class="cb">
	   {{ article.content_html }}
	</div>
    
    
</div>

{{ modules.Disqus(article._id) }}  
    
{% end %}


{% block sidebar %}
    {{ modules.UserBlock(article.author) }}
    <div class="editbar">   
        {{ h.link_if_editor(current_user, article.author, BP + '/article/edit/' + article.slug, _('Edit'), _class='button') }} 
        {{ h.link_button_if_editor(current_user, article.author, BP + '/article/remove/' + article.slug, _('Remove'), handler.xsrf_token) }} 
    </div>
    {{ modules.ArticleStat(article) }}
{% end %}



