


<div class="content-wrapper">
    <h3>Confirm Your Donation</h3> 
    <p>I have transferrend an amount of Rp xxx,xxx to</p>
    <ul>
        <li> Bank account <select><option>BCA</option><option>Bank Mandiri</option></select></li>
        <li>Paypal a.n. <input type="text" /></li>
    </ul> 
 
    <!-- yes/no buttons --> 
    <div class="buttons"> 
        <button class="close"><span><span>{{_('Cancel')}}</span></span></button> 
        <button class="close"><span><span>{{_('Confirm')}}</span></span></button> 
    </div> 
</div>

