 -{% extends 'base.html' %}

{% block title %}{{ _("Home") }}{% end %}

{% block body %}

<div id="activity-hilite" class="haccordion"> 
    <img src="/static/uploads/streaminge.png" /> 
    <div style="width:200px; display:block">excerpt of the activity #1</div> 
 
    <img src="/static/uploads/flash.png" /> 
    <div>excerpt of the activity #2</div> 
 
    <img src="/static/uploads/streaming.png" /> 
    <div>excerpt of the activity #3</div> 
</div>

<script type="text/javascript">
$(function() {
  $("#activity-hilite").tabs("#activity-hilite div", {tabs: 'img', effect: 'horizontal'});
})
</script>

{{ modules.ArticleLatest(limit=5) }}

<hr />

{{ modules.Cloud() }}
 
{% end %}


{% block sidebar %}
    {{ modules.Static('welcome') }}
    {{ modules.Streams() }}
    {{ modules.AgentFeatured() }}
{% end %}

