{% extends 'base.html' %}

{% block title %}{{ _("Home") }}{% end %}

{% block body %}

    {{ modules.Splash() }}
    {{ modules.ContentLatest('article', limit=5) }}
    {{ modules.TagCloud(type='content') }}

{% end %}


{% block sidebar %}
    {% if not was_here %}
        {{ modules.Static('welcome') }}
    {% end %}

    <div id="tweets">{{ h.get(tweets,'')}}</div>
    {% if not tweets %}
    <!-- <script type="text/javascript">$(function() {$('#tweets').load('/tweets');})</script>-->
    {% end %}

    {{ modules.UserFeatured() }}

{% end %}


{% block postinlinejs %}
<script type="text/javascript" src="{{ static_url('jquery.tools.min.js') }}"></script>
{% end %}