{% extends 'base.html' %}

{% block title %}{{_('Login')}}{% end %}

{% block body %}

<div id="subheader">
    <h2>{{ _('Come on in!') }}</h2>
    <div id="tabs">
        <a href="#" class="youarehere">{{ _('Login') }}</a>
        <a href="{{BP}}/register">{{ _('register') }}</a>
    </div>
</div>

<div class="line" style="padding: 10px 0">
	<div class="size1of3 unit">
	   <h4>{{ _('Login with Your Facebook Account') }}</h4>
	   <p class="grey">You dont need to register</p>
	   <div style="margin-right:10px;">
		    <div style="margin:2px 0; "></div>
		    <div style="padding-left: 10px;"><a href="{{BP}}/login/fb"><img src="{{ static_url('img/fbconnect.png')}}" alt="Facebook Connect" /></a></div>
	    </div>
	</div>
	<div class="size2of3 lastUnit">
	   <div class="sep-left leftpadded10">
	        <form method="post">
	        {{ f.render_css() }}
	        <div class="buttons">
	            <button name="submit"><span><span>{{ _('Login') }}</span></span></button>
	            <input type="hidden" name="next" value="{{ current_path }}" />
	        </div>
	          {{ xsrf_form_html() }}
	        </form>
	        <script type="text/javascript">
	            $('input[name=username]').focus();
	        </script>
	    </div>
    </div>
    
</div>

{% end %}
