{% extends 'base.html' %}

{% block title %}{{ _('New Page') }}{% end %}

{% block body %}

{% set title = 'edit page' if page.slug else 'new page' %}

{{ f.rendernote(f.note) }}

<form method="post" action="{{BP}}/page/edit">

{{ modules.Tabs('new_' + ('admin' if current_user.is_admin else current_user.type), 'page', title) }}

    {{ modules.FormfieldInColumns(f.title, f.slug) }}
    {{ modules.Formfield(f.content) }}
    
    <div id="contentPreview" class="cb"></div>
                
    <div class="line attachments"></div>
    <div class="line uploader">
        <a href="#" class="button" id="upload-button"><span><span>{{_('Add Attachment...')}}...</span></span></a>  
        <div id="loading" style="display:none">{{_('uploading...')}}</div>
    </div>
    
<div class="buttons">
<button onclick="history.back(); return false;" name="action" value="back"><span><span>{{_('Cancel')}}</span></span></button>
<button class="submit" name="status" value="save"><span><span>{{_('Save')}}</span></span></button>
</div>

<input type="hidden" name="attachments" value="{{ "$".join(["%(type)s#%(src)s#%(thumb_src)s#%(filename)s" % a for a in page.attachments]) }}" />
<input type="hidden" name="attachment_counter" value="{{len(page.attachments)}}" />


{{ xsrf_form_html() }}
{% if page.slug %}
<input type="hidden" name="ori_slug" value="{{page.slug}}" />
{% end %}
</form>

<script type="text/javascript">
$counter = $('input[name=attachment_counter]');
$attachments = $(':input[name=attachments]');
content_type = 'page';
is_new_doc = {{ int(not bool(page.slug)) }};
textarea = '#content';
slug = '{{ page.slug if page.slug else '' }}';
</script>

{% end %}

{% block inlinejs %}
<script type="text/javascript" src="{{static_url('markitup/markitup.markdown.js')}}"></script>
<link href="{{static_url('markitup/markitup.markdown.css')}}" media="screen" rel="stylesheet" type="text/css" >
<script type="text/javascript" src="{{ static_url('ajaxupload.min.js') }}"></script>
{% end %}

{% block postinlinejs %}
<script type="text/javascript" src="{{ static_url('upload.js') }}"></script>
{% end %}
