{% extends 'base.html' %}

{% block title %}{{ _('New Page') }}{% end %}

{% block head %}
{{ modules.Static('markitup') }}
{% end %}

{% block body %}

{% set title = 'edit page' if slug else 'new page' %}
<form method="post" action="{{BP}}/page/edit">

{{ modules.Tabs('new_' + ('admin' if current_user.is_admin else current_user.type), 'page', title) }}

{{ f.rendernote(f.note) }}

    {{ modules.FormfieldInColumns(f.title, f.slug) }}
    {{ modules.Formfield(f.content) }}
    
<div class="actionbar">
<input class="button" name="submit" type="submit" value="{{_('Save')}}"/>
</div>

{{ xsrf_form_html() }}
{% if slug %}
<input type="hidden" name="ori_slug" value="{{slug}}" />
{% end %}
</form>

{% end %}

