{% extends 'base.html' %}

{% block title %}{{ _('New Page') }}{% end %}

{% block head %}
{{ modules.Static('markitup') }}
{% end %}

{% block body %}

<form method="post" action="{{BP}}/page/edit">

{% set title = 'edit page' if slug else 'new page' %}
{{ modules.Tabs('new_' + ('admin' if current_user.is_admin else current_user.type), 'new page', title) }}

<div class="form-area">
	{{ f.render_css() }}
	<div><input class="button" name="submit" type="submit" value="{{_('Save')}}"/></div>
</div>

{{ xsrf_form_html() }}
{% if slug %}
<input type="hidden" name="ori_slug" value="{{slug}}" />
{% end %}
</form>

{% end %}

