{% extends 'base.html' %}

{% block title %}{{_('Account')}}{% end %}

{% block body %}

<form method="post" class="withtips">

{{ f.rendernote(f.note) }}

<div id="subheader">
    <h2>{{ _('Account') }}</h2>
    <div id="tabs">
        <a href="{{BP}}/profile/edit">{{ _('profile') }}</a>
        <a href="{{BP}}/account" class="youarehere">{{ _('account') }}</a>
    </div>
</div>

<div class="leftpadded10">

<div class="line" style="width: 70%">
    <div class="unit size1of2">
        {{ modules.Formfield(f.password) }}
        {{ modules.Formfield(f.password2) }}
    </div>
    <div class="lastUnit size1of2">
    </div>
</div>    

<script type="text/javascript">
    $('input[name=password]').focus();
</script>
<div class="actionbar"><input class="button" name="submit" type="submit" value="{{ _('Change')}}"/></div>
</div>


{{ xsrf_form_html() }}

</form>

{% end %}



