{% extends 'base.html' %}

{% block title %} {{ get(user.fullname, user.username) }} -  {{_('Profile')}}{% end %}

{% block body %}

{{ modules.Tabs('profile_public', 'about', fullname=get(user.fullname, user.username), username=user.username) }}

{% set need_infotab = user.phones or user.fax or user.website %}

<div class="line">
    <div class="unit size1of3">
        <div id="userblock">{{ modules.UserBlock(user) }}</div>
        
        {% if need_infotab or user.followers or user.following %}
         <div class="mod simple">
            <div class="inner"><div class="bd">
            
            <ul class="vtabs"> 
                {% if need_infotab %}<li><a href="#">{{_('Info')}}</a></li>{% end %} 
                <li><a href="#">{{_('Followers')}}</a></li> 
                <li><a href="#">{{_('Following')}}</a></li>  
            </ul> 
            <div class="vpanes">
                {% if need_infotab %}
                <div class="vpane">
                        {% if user.phones %}
                            <p><span class="h4">{{ _('Phones') }}</span> {{ ', '.join(user.phones) }}</p>
                        {% end %}
                        {% if user.fax %}
                            <p><span class="h4">{{ _('Fax') }}</span> {{ ', '.join(user.fax) }}</p>
                        {% end %}
                        
                        {% if user.website %}
                            <p><span class="h4">{{ _('Website') }}</span> <a href="{{user.website}}" target="_blank">{{ user.website }}</a></p>
                        {% end %}
                </div>
                {% end %}
                <div class="vpane">
                    {{ modules.UsersThumbs(user.followers, 'Followers') }}
                </div>
                <div class="vpane">
                    {{ modules.UsersThumbs(user.following, 'Following') }}
                </div>
            </div>
         </div></div>
         </div>
         {% end %}
    </div>
    <div class="lastUnit size2of3">
        <div class="cb">
            {% if user.profile_content_html %}<br /><h1>{{_('About') }} {{get(user.fullname, user.username)}}</h1>{% end %}
            {{ user.profile_content_html if user.profile_content_html else "" }}
        </div>
    </div>
    
    
</div>

{% end %}

