{% extends 'base.html' %}

{% block title %} {{ escape(project.title) }} - {{_('Project')}}{% end %}
{% block head %}<link rel="stylesheet" href="{{ static_url('css/datePicker.css') }}" type="text/css" media="screen, projection" />{% end %}
{% block body %}

<div class="post">
    <h2>{{ escape(project.title) }}</h2>
    
    <div class="cb">
    
        {% if project.enable_chat %}
            <iframe id="chatbox" src="/talk/{{project.slug}}" style="float:right; border:0;"></iframe>
        {% end %}
        
        {{ project.content_html }}
    </div>
</div>

{% if project.enable_comment %}
    {{ modules.Static('comment', item=project) }}
{% end %}

{% end %}

{% block sidebar %}
    <div id='userblock'>{{ modules.UserBlock(project.author) }}</div>
    {{ modules.Static('donation', project=project) }}
    {{ modules.ItemAction(project) }}
    {{ modules.ItemStat(project) }}
    
    {% if project.show_map %}
        {{ modules.Static('map', item=project) }}
    {% end %} 
    
    {{ modules.ByAuthor(project.author) }}

<div class="modal facebox" id="boxdonation"><div class="wDialog"></div></div>
<div class="ovl" id="slideshow">
    <a class="prev">{{_('prev')}}</a>
    <a class="next">{{_('next')}}</a>
    <div class="info"></div>
    <img class="progress" src="/static/css/img/ajax-loader2.gif" />
</div>

{% end %}
