{% extends 'profile/_dashboard.html' %}

{% block title %}
{% set title = _('edit project') if project.has_key('_id') else _('new project') %}
{{ title.title() }}{% end %}

{% block tabContent %}

{{ f.rendernote(f.note) }}

<form method="post" class="withtips">

{{ modules.Tabs(user, 'new_' + ('admin' if current_user.is_admin else current_user.type), 'project', title, dashboard=True) }}


<div class="line tabWrapper">
	<div class="unit size1of6">
		<!-- the tabs --> 
		<ul class="tabs"> 
		    <li><a href="#fi">{{_('Meta')}}</a></li> 
		    <li><a href="#fc">{{_('Content')}}</a></li>
		    <li><a href="#fc">{{_('Miscellaneous')}}</a></li>  
		</ul> 
	</div>
	<div class="lastUnit size5of6">
		<div class="panes">
			<div class="pane">
                <div class="line">
                    <div class="unit size1of2">
                        {{ modules.Formfield(f.state) }}
                        
        				{{ modules.Formfield(f.title) }}
        				{{ modules.Formfield(f.goal) }}
                        
                         {{ modules.Formfield(f.tags) }}
                        <div class="tags suggestedtags">
                            {{ modules.TagSuggestion(settings.CONTENT_TAGS)}}
                        </div>
                        
                        {{ modules.Formfield(f.enable_comment) }}
                    
                    </div>
                    <div class="lastUnit size1of2">
                        {{ modules.Static('placemaker', f=f) }}
                        {{ modules.Formfield(f.show_map) }}
                    </div>
                </div>
			</div>
			<div class="pane">
                {{ modules.Formfield(f.content) }}
                <div id="contentPreview" class="cb"></div>
                <div class="line">
                    <div class="line attachments">
                        
                    </div>
                    <div class="line uploader">
                        <a href="#" class="button" id="upload-button"><span><span>{{_('Add Attachment...')}}...</span></span></a> 
                        <div id="loading" style="display:none">{{_('uploading...')}}</div>
                    </div>
                </div>
			</div>
			<div class="pane">
                <div class="line">
                    <div class="unit size2of3">
                        <div class="deps">
                            <div class="depsrc">
                                {{ modules.Formfield(f.need_donation) }} <span class="grey small">{{_('If checked, your <a target=_blank href=/profile/edit#fb>Bank Account</a> will be displayed.')}}</span>
                            </div>
                            <div class="deptarget">
                            {{ modules.Formfield(f.donation_amount_needed) }}
                            </div>
                        </div>   
                        <div class="deps">
                            <div class="depsrc">
                                {{ modules.Formfield(f.need_volunteer) }} 
                            </div>
                            <div class="deptarget">
                                {{ modules.Formfield(f.volunteer_tags) }}
                                <div class="tags suggestedtags">
                                    {{ modules.TagSuggestion(settings.USER_TAGS, '#volunteer_tags')}}
                                </div>
                            </div>
                        </div>    
                        {% if current_user['type'] == 'sponsor' %}
                            {{ modules.Formfield(f.is_champaign) }}
                        {% end %} 
                        
                        {{ modules.Formfield(f.enable_chat) }} 
                                
                    </div>
                    <div class="lastUnit size1of3">
                        <div class="line">
                        
                        </div>
                    </div>
                </div>
                
                
			</div>
		</div>
	</div>
</div>
			
<div class="buttons line">
<div class="unit">
{% if not project.has_key('_id') or project.status == 'draft' %}
    <button class="positive" name="status" value="draft"><span><span>{{_('Save as Draft')}}</span></span></button>
    <button class="submit" name="status" value="published"><span><span>{{_('Publish')}}</span></span></button>
{% elif project.status == 'published' %}
    <button class="submit" name="status" value="published"><span><span>{{_('Save')}}</span></span></button>
    <button class="negative" name="status" value="draft"><span><span>{{_('Unpublish')}}</span></span></button>
{% end %}

{% if project.has_key('_id') %}    
    {{ h.link_button_if_editor(current_user, project.author, BP + '/project/remove/' + project.slug, _('Remove'), handler.xsrf_token) }}
{% end %}

</div>

{% if project.has_key('_id') %}  
<div class="lastUnit">
<a target="_blank" href="{{project.get_url()}}">{{_('View')}}</a>
</div>
{% end %}

</div>

<input type="hidden" name="attachments" value="{{ "$".join(["%(type)s#%(src)s#%(thumb_src)s#%(filename)s" % a for a in project.attachments]) }}" />
<input type="hidden" name="attachment_counter" value="{{len(project.attachments)}}" />

{{ xsrf_form_html() }}

{% if project.slug %}
<input type="hidden" name="is_edit" value="1" />
<input type="hidden" name="slug" value="{{project.slug}}" />
{% end %}
    
</form>

<style>
.deptarget { display:none; margin-left: 22px;}
.suggestedtags p { padding:3px 0; }
</style>
<script type="text/javascript">

// uploads
$counter = $('input[name=attachment_counter]');
$attachments = $(':input[name=attachments]');
content_type = 3;
is_new_doc = {{ int(not bool(project.slug)) }};
textarea = '#content';
slug = '{{ project.slug if project.slug else '' }}';
</script>

{% end %}

{% block inlinejs %}
<script type="text/javascript" src="{{static_url('lib/markitup/markitup.markdown.js')}}"></script>
<link href="{{static_url('lib/markitup/markitup.markdown.css')}}" media="screen" rel="stylesheet" type="text/css" >
<script type="text/javascript" src="{{ static_url('lib/ajaxupload.min.js') }}"></script>
{% end %}

{% block postinlinejs %}
<script type="text/javascript" src="{{ static_url('lib/upload.js') }}"></script>
{% end %}

