{% extends 'base.html' %}

{% block title %}{{_('Register')}}{% end %}

{% block body %}

{{ f.rendernote(f.note) }}

<form action="{{BP}}/register" method="post" class="withtips">

<div id="subheader">
    <h2>{{ _('Register') }}</h2>
    <div id="tabs">
        <a href="{{BP}}/login-form">{{ _('Login') }}</a>
        <a href="{{BP}}/register" class="youarehere">{{ _('register') }}</a>
    </div>
</div>



<div class="line">
	<div class="unit size1of4">
	   <div class="mod simple2">
	       <div class="inner">
	           <div class="hd"><h3>Tips</h3></div>
	           <div class="bd">
	               <h4>Privacy</h4>
	               <p>Blah blah</p>
	               
	               <h4>Security</h4>
                   <p>Blah blah</p>
	           </div>
	       </div>
	   </div>
	</div>
	<div class="lastUnit size3of4">
	   <div class="sep-left leftpadded10">
			
            {{ modules.Formfield(f.username) }}
            {{ modules.FormfieldInColumns(f.password, f.password2) }}
            {{ modules.Formfield(f.type) }}
            {{ modules.Formfield(f.agree) }}
            <script type="text/javascript">
                $('input[name=username]').focus();
            </script>
            <div class="actionbar">
                <button class="submit" name="register"><span><span>{{_('Register')}}</span></span></button>
            </div>
		</div>
	</div>
</div> 

{{ xsrf_form_html() }}
</form>

{% end %}
