{% extends 'base.html' %}

{% block title %}{{_('Register')}}{% end %}

{% block body %}

{{ f.rendernote(f.note) }}

<form method="post" class="withtips">

<div id="subheader">
    <h2>{{ _('Register') }}</h2>
    <div id="tabs">
        <a href="{{ settings.login_url }}">{{ _('Login') }}</a>
        <a href="{{BP}}/register" class="youarehere">{{ _('Join us') }}</a>
    </div>
</div>



<div class="line">
	<div class="unit size1of4">
	   {{ modules.Logintips() }}
	</div>
	<div class="lastUnit size3of4">
	   <div class="line sep-left leftpadded10">
			
            {{ modules.Formfield(f.username) }}
            {{ modules.Formfield(f.password) }}
            {{ modules.Formfield(f.password2) }}
            {{ modules.Formfield(f.type) }}
            {{ modules.Formfield(f.agree) }}
            <script type="text/javascript">
                $('input[name=username]').focus();
                var RecaptchaOptions = {
            		   theme : 'clean'
            		};
            </script>
            {{ captcha_html }}
            
            <div class="buttons">
                <button class="submit" name="register"><span><span>{{_('Register')}}</span></span></button>
            </div>
		</div>
	</div>
</div> 

{{ xsrf_form_html() }}
</form>

{% end %}
