{% extends 'base.html' %}

{% block title %}{{_('Tags')}}{% end %}

{% block body %}

{{ modules.Tabs('tags', tab) }}

<div class="cb">

{% set items = pagination.get_objects() %}

{% if items.count() %}
    {% set c = h.alternate(['rodd','rodd', 'reven', 'reven']) %}
    <div class="line">
        <ul class="tags">
            {% for tag in items %}
                <li><a class="tag" href="{{BP}}/{{tab}}/tagged/{{url_escape(tag._id)}}">{{ escape(tag._id) }}</a> <span>x{{ int(tag.value) }}</span></li>
            {% end %}
        </ul>            
    </div>
    <p class="clear"></p>
    {{ pagination }}
{% else %}
    <p class="grey" style="margin-top: 20px;">{{ _('None') }}</p>
{% end %}  

</div>

{% end %}

