{% extends 'base.html' %}

{% block title %}{{_('Users')}}{% end %}

{% block body %}

<div id="subheader">
    <h2>{{ _('Users') }}</h2>
    <div id="tabs">
        <a href="{{BP}}/users?tab=a" class="youarehere">{{_('social org')}}</a>
		<a href="{{BP}}/users?tab=s">{{_('sponsor')}}</a>
		<a href="{{BP}}/users?tab=p">{{_('public')}}</a>
    </div>
</div>

<div class="items">
{% set c = ['rodd','rodd', 'reven', 'reven'] %}
{% for user in pagination.get_objects() %}
<div class="unit size1of3 {{h.alternate(c)}}">
      <div class="mod bubble bubbleBottom yoyo bubbleVerticalExt"> 
         <b class="top"><b class="tl"></b><b class="tr"></b></b> 
         <div class="inner">
             <div class="bd">
               <h3>{{user.type}}</h3>
               <p>{{user.article_count}} articles</p>
               <p>{{user.activity_count}} activities</p>
             </div>
         </div>
         <b class="bottom"><b class="bl"></b><b class="br"></b></b> 
     </div>
       <div class="media attribution atb2">
          <a href="{{user.get_url()}}" class="img"><img src="/static/uploads/tattoo.jpg" alt="Stubbornella" /></a>
          <div class="bd">
            <a href="{{user.get_url()}}">{{ user.username}}</a> 
            <span class="detail">
            {{_('joined since')}} {{ h.timesince(h.utc_to_local(user.created_at))}}
            </span>
          </div>
      </div>      
</div>
{% end %}
</div>
<p class="clear"></p>

{{ pagination }}

{% end %}

