{% extends '../base.html' %}

{% block title %}My Profile{% end %}

{% block body %}

<div class="buttons">
    <a class="button" href="{{BP}}/article/new"><span><span>{{ _('New Article') }}</span></span></a> 
    {{ h.link_if_auth(current_user, BP + '/page/new', _('New Page'), 'admin', _class='button') }}
    {{ h.link_if_auth(current_user, BP + '/profile/edit', _('Edit Profile'), 'public', _class='button') }}
    {{ h.link_if_auth(current_user, BP + '/account', _('Change Password'), 'all', _class='button') }}
</div>   

{% block tabContent %}{% end %}

{% end %}

