{% extends '_dashboard.html' %}

{% block tabContent %}

<div id="subheader">
    <h2>{{ _('Dashboard') }} {{ h.link_if_auth(current_user, BP + '/profile/edit', _('Edit Profile'), ['agent','sponsor'], _class='small-link') }}</h2>
    <div id="tabs">
        <a href="{{BP}}/dashboard">{{ _('messages') }}</a>
        <a href="#" class="youarehere">{{ _('donations') }}</a>
        <a href="{{BP}}/profile/comments">{{ _('comments') }}</a>
    </div>
</div>

<div class="mod simple3">
<b class="top"><b class="tl"></b><b class="tr"></b></b>
<div class="inner">
    <div class="bd">
        <div class="line item-summary">
           <div class="unit thumb3"></div>
           <div class="unit size3of5">
               <p><a href="#">Apito: Donate $100 for Imunisasi di Kampung Sawah</a><p>
           </div>
           <div class="lastUnit">
                <a class="button" href="#">{{_('Valid')}}</a> <a class="button" href="#">{{_('Invalid')}}</a>
           </div>
        </div>
        <div class="line item-summary">
           <div class="unit thumb3"></div>
           <div class="unit size3of5">
               <p><a href="#">Fitri: Donate $30 for Beasiswa Anak Cikarang</a><p>
           </div>
           <div class="lastUnit">
                <a class="button" href="#">{{_('Valid')}}</a> <a class="button" href="#">{{_('Invalid')}}</a>
           </div>
        </div>
        <p class="grey small">events related to this profile (comment, donations, etc)</p>
    </div>
</div>
<b class="bottom"><b class="bl"></b><b class="br"></b></b>
</div>

{% end %}

