{% extends '../base.html' %}

{% block title %} {{ get(user.last_name, user.username) }} - {{_('Comments')}}{% end %}

{% block body %}

{{ modules.Tabs('profile_public', 'comments', fullname=get(user.last_name, user.username), username=user.username) }}


<div class="line">
    <div class="unit size2of3">
    {% set objects = pagination.get_objects() %}
    {% if objects.count() %}
        {% for items in h.group(objects,2) %}
            <div class="line">
              <div class="unit size1of2">
                  {{ modules.ItemComment(items.pop()) }}
              </div>
              {% if len(items) %}
              <div class="lastUnit size1of2">
                  {{ modules.ItemComment(items.pop()) }}
              </div>
              {% end %}
            </div>
        {% end %}
    {% else %}
        <p>&nbsp;</p>
    {% end %}
    </div>
    <div class="lastUnit size1of3">
        <div class="mod simple">
            <div class="bd" style="position:relative">
                {% if current_user %}
                {{ f.rendernote(f.note) }}
                <form method="post" class="line withtips">
                    {{ modules.Formfield(f.comment) }}
                    {{ xsrf_form_html() }}
                    <div class="buttons">
                        <button class="positive" name="send">{{_('Give Comment')}}</button>
                    </div>
                </form>
                {% else %}
                    <p>{{ _('Login to give comment to this user') }}</p>
                {% end %}
            </div>
        </div>
    </div>
</div>

{% if current_user %}
<style>
.jmaxtext { float: right; }
</style>
<script type="text/javascript">
$("#comment").maxinput({
    limit: 100,
    position: 'before',
    message: '{{_('characters left')}}'
});
</script>
{% end %}

{% end %}

