{% extends '../base.html' %}

{% block title %}{{_('Edit Profile')}}{% end %}

{% block body %}

<noscript>
<div id="nojs"><strong>You need to enable javascript support in your browser if you want to write Article/Activity.</strong></div>
</noscript>

{{ f.rendernote(f.note) }}

<form method="post" class="withtips">
<div id="subheader">
    <h2>{{ _('Profile') }} - {{ user.username }}</h2>
    <div id="tabs">
        <a href="{{BP}}/profile/edit" class="youarehere">{{ _('profile') }}</a>
        <a href="{{BP}}/account">{{ _('account') }}</a>
    </div>
</div>

<div class="line tabWrapper">
    <div class="unit size1of5">
        <!-- the tabs -->
        <ul class="tabs">
            <li><a href="#fa">{{_('About You')}}</a></li>
            <li><a href="#fc">{{_('Contact')}}</a></li>
        </ul>
    </div>
    <div class="lastUnit size4of5">
        <div class="panes">
            <div class="pane">
                <div class="line">
                    <div class="unit size2of3">
                        {{ modules.Formfield(f.last_name) }}
                        {{ modules.Formfield(f.about) }}
                        {{ modules.Formfield(f.timezone) }}
                        {{ modules.Formfield(f.tags) }}
                        <div class="tags suggestedtags">
                            {{ modules.TagSuggestion(FIELD_TAGS, '#tags')}}
                        </div>
                    </div>
                    <div class="lastUnit size1of3">
                        <div style="padding:10px;">
                            
                        </div>
                    </div>
                 </div>
            </div>
             <div class="pane">
                <div class="line">
                    <div class="unit size3of5">
                        {{ modules.FormfieldInColumns(f.phones, f.fax) }}
                        {{ modules.Formfield(f.email) }}
                        {{ modules.Formfield(f.website) }}
                        {{ modules.Formfield(f.address) }}
                    </div>
                    <div class="lastUnit size2of5">
                        <label>{{_('Select your location in map')}}</label>
                        <div class="loc" style="width:250px; height:180px; background:url(/static/uploads/maps/psm.gif) no-repeat;">
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>

<div class="buttons">
<button onclick="history.back(); return false;" name="action" value="back"><span><span>{{_('Cancel')}}</span></span></button>
<button class="submit" name="action" value="save"><span><span>{{_('Save')}}</span></span></button>

</div>

{{ xsrf_form_html() }}

</form>

{% end %}





